 
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button{
    margin-left:41.2%;
    height: 50px;
    width: 100px;
    background-color:#3aa832;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

textarea{
    margin-top: 1%;
    width:40%;
    height:500px;
    border: 2px black solid;
    border-radius: 5px;
    margin-left: 5%;
    padding: 20px;
    font-size: 25px;
} 
